-r requirements.txt

pre-commit # https://github.com/pre-commit/pre-commit
pytest # https://github.com/pytest-dev/pytest/
pytest-asyncio # https://github.com/pytest-dev/pytest-asyncio
pytest-xdist # https://github.com/pytest-dev/pytest-xdist
Faker
click
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
