-r requirements.txt

pre-commit==4.2.0 # https://github.com/pre-commit/pre-commit
pytest==8.3.5 # https://github.com/pytest-dev/pytest/
pytest-asyncio==0.25.3 # https://github.com/pytest-dev/pytest-asyncio
pytest-xdist==3.6.1 # https://github.com/pytest-dev/pytest-xdist
Faker==37.0.0
click==8.2.1
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
