bs4
cssutils
pydantic
pydantic-settings
html5lib
pytz
imgurpython
python-dotenv
retry
httpx[socks]
dill
sentry-sdk
prettytable
fake-useragent
aiofile
sentry-sdk
diskcache
python-dateutil
aiolimiter # https://github.com/mjpieters/aiolimiter

# Cache
# ============
diskcache
croniter==3.0.3 # https://github.com/kiorky/croniter
